#define ID_LECTOR 2

#define MQTT_USER "usuario_rabbitmq"
#define MQTT_PASSWORD "clave_rabbitmq"

#define REDES_CONFIG { \
    {"NOMBRE_WIFI_1", "CLAVE_WIFI_1", "192.168.1.2"}, \
    {"NOMBRE_WIFI_2", "CLAVE_WIFI_2", "192.168.0.2"}, \
}
