PROJECT_NAME=Mi Proyecto FastAPI
ENVIRONMENT=development
DEBUG=true
API_V1_PREFIX=/api/v1
SECRET_KEY=una-clave-secreta-segura
ACCESS_TOKEN_EXPIRE_MINUTES=30
DATABASE_URL=postgresql+psycopg://usuario:contrasena@localhost:5432/mi_proyecto
RABBITMQ_URL=amqp://user:1234@localhost:5672/
RABBITMQ_EXCHANGE=personas_discapacidad
RABBITMQ_ROUTING_KEY=parada.#
